.cart {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}
.cart h1{
 text-align: center;
}
.checkout-button{
   margin-left: 15px;
}

.truck-icon{
  font-size: 50px;
 margin-left: 600px;
}

@media screen and (max-width: 799px) {
 
  
    .checkout {
      margin-top: 50px; /* Placera checkout-knapparna längst ner */
    }
  }